@everxyz:registry=https://gitlab.everxyz.com/api/v4/packages/npm/
electron_mirror = https://npm.taobao.org/mirrors/electron/
sentrycli_cdnurl=https://cdn.npm.taobao.org/dist/sentry-cli

node-linker=hoisted
public-hoist-pattern=*
shamefully-hoist=true
